export NODE_ENV=development

export API_PORT=4040
export SITE_PORT=3000
export DYNAMODB_PORT=8042

export API_URL=http://localhost:${API_PORT}

export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_REGION=localhost

export TOKEN_SECRET=
