export NODE_ENV=development

export SOCCER_TABLE=Soccer-${NODE_ENV}

export DYNAMODB_PORT=8042

# these will only impact your local connection.  The Serverless 
# defaults to the credentials of the AWS provider connected to it.
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_REGION=

export TOKEN_SECRET=
